* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5f6f8;
    color: #222;
}

/* =========================
   NAVBAR
========================= */
.navbar {
    height: 70px;

    background-color: #111827;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 7%;

    position: sticky;
    top: 0;

    z-index: 1000;
}
.logo {
    color: white;

    font-size: 22px;

    font-weight: bold;
}
.nav-menu {
    display: flex;

    gap: 30px;
}
.nav-menu a {
    color: white;

    text-decoration: none;

    font-size: 14px;
}
.nav-menu a:hover {
    opacity: 0.7;
}

/* =========================
   DESKRIPSI
========================= */
.intro {
    min-height: 650px;

    display: flex;

    align-items: center;

    padding: 80px 8%;

    background-color: white;
}
.intro-content {
    max-width: 1050px;

    margin: auto;
}
.label {
    font-size: 12px;

    letter-spacing: 4px;

    color: #888;

    font-weight: bold;

    margin-bottom: 18px;
}
.intro h1 {
    font-size: 55px;

    color: #111827;

    margin-bottom: 30px;
}
.intro h2 {
    max-width: 1000px;

    font-size: 20px;

    line-height: 1.8;

    font-weight: normal;

    color: #555;
}

/* =========================
   STOK
========================= */
.stok-section {
    padding: 70px 0;
}
.section-header {
    margin-bottom: 35px;
}
.subjudul {
    color: #888;

    font-size: 12px;

    letter-spacing: 3px;

    font-weight: bold;

    margin-bottom: 8px;
}
.section-header h2 {
    font-size: 35px;

    margin-bottom: 10px;
}
.section-description {
    color: #777;

    font-size: 15px;
}


/* =========================
   RINGKASAN
========================= */
.ringkasan {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;

    margin-bottom: 60px;
}
.box {
    background-color: white;

    padding: 25px;

    border-radius: 15px;

    display: flex;

    align-items: center;

    gap: 18px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);

    transition: 0.3s;
}
.box:hover {
    transform: translateY(-5px);
}
.icon {
    width: 55px;
    height: 55px;

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: #f3f4f6;

    border-radius: 12px;

    font-size: 25px;
}
.judul-box {
    color: #888;

    font-size: 13px;

    margin-bottom: 5px;
}
.box p:last-child {
    font-size: 30px;

    font-weight: bold;
}
.box.peringatan {
    border-left: 4px solid #dc2626;
}

/* =========================
   MENU HEADER
========================= */
.bagian-menu {
    margin-top: 20px;
}
.menu-header {
    display: flex;

    align-items: end;

    justify-content: space-between;

    margin-bottom: 20px;
}
.menu-header h2 {
    font-size: 30px;
}
.kanan-header {
    display: flex;

    align-items: center;

    gap: 12px;
}

/* =========================
   SEARCH
========================= */
.search-box {
    position: relative;

    width: 250px;
}
.search-box input {
    width: 100%;

    padding: 13px 40px 13px 15px;

    background-color: white;

    border: 1px solid #ddd;

    border-radius: 9px;

    outline: none;
}
.search-box span {
    position: absolute;

    right: 14px;

    top: 11px;
}

/* =========================
   TOMBOL
========================= */
.btn-tambah {
    border: none;

    background-color: #111827;

    color: white;

    padding: 13px 18px;

    border-radius: 9px;

    cursor: pointer;

    font-weight: bold;
}
.btn-tambah:hover {
    background-color: #374151;
}

/* =========================
   FILTER
========================= */
.kategori {
    display: flex;

    gap: 10px;

    margin-bottom: 30px;
}
.kategori-btn {
    border: none;

    background-color: white;

    color: #555;

    padding: 10px 18px;

    border-radius: 20px;

    cursor: pointer;
}
.kategori-btn.aktif {
    background-color: #111827;

    color: white;
}

/* =========================
   GRUP HARGA
========================= */
.price-group {
    margin-bottom: 40px;
}

/* =========================
   PEMBATAS HARGA
========================= */
.price-title {
    display: flex;

    align-items: center;

    gap: 15px;

    margin-bottom: 20px;

    width: 100%;
}

/* BLOK HITAM HARGA */

.price-badge {
    background-color: #111827;

    color: white;

    padding: 11px 20px;

    border-radius: 8px;

    font-size: 18px;

    font-weight: bold;

    white-space: nowrap;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

/* GARIS DI SAMPING */

.price-line {
    height: 2px;

    flex: 1;

    background-color: #111827;
}

/* =========================
   CARD MENU
========================= */
.menu-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 18px;
}
.menu {
    background-color: #111827;

    color: white;

    border: 2px solid #111827;

    border-radius: 14px;

    padding: 20px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

    transition: 0.3s;
}
.menu:hover {
    transform: translateY(-4px);

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.menu:hover {
    transform: translateY(-4px);

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.menu:hover {
    transform: translateY(-4px);
}
.menu h3 {
    font-size: 18px;

    margin-bottom: 8px;

    line-height: 1.4;
}
.harga {
    color: #d1d5db;

    margin-bottom: 15px;
}
.stok {
    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 12px;

    border-radius: 9px;

    background-color: #374151;

    color: white;

    margin-bottom: 12px;
}
.stok strong {
    font-size: 21px;
}
.stok strong {
    font-size: 21px;
}
.status {
    color: #86efac;

    font-size: 13px;

    font-weight: bold;

    margin-bottom: 15px;
}

/* =========================
   STOK MERAH
========================= */
.menu.merah {
    background-color: #111827;
    color: white;

    border-color: #dc2626;
}
.menu.merah .stok {
    background-color: #dc2626;
    color: white;
}
.menu.merah .status {
    color: #ff4d4d;
}

/* =========================
   TOMBOL STOK
========================= */
.tombol {
    display: flex;

    gap: 8px;
}
.tombol button {
    flex: 1;

    border: none;

    padding: 9px;

    border-radius: 7px;

    cursor: pointer;

    font-weight: bold;
}
.kurang {
    background-color: #fee2e2;

    color: #b91c1c;
}
.tambah {
    background-color: #dcfce7;

    color: #166534;
}

/* =========================
   EXTRA TOPPING
========================= */
.extra-topping {
    margin-top: 60px;

    padding: 30px;

    background-color: #9ca3af;

    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
}
.extra-header {
    margin-bottom: 25px;
}
.extra-header h2 {
    font-size: 30px;

    margin-bottom: 10px;
}

/* =========================
   TOPPING CONTAINER
========================= */
.topping-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 15px;
}

/* =========================
   TOPPING CARD
========================= */
.topping-card {
    background-color: #111827;

    color: #111827;

    padding: 20px;

    border-radius: 12px;

    border: 2px solid #111827;
}
.topping-card:hover {
    transform: translateY(-3px);
}
.topping-nama {
    font-size: 18px;

    font-weight: bold;

    margin-bottom: 8px;

    color: white;
}
.topping-harga {
    color: #777;

    margin-bottom: 15px;
}

/* =========================
   STOK TOPPING
========================= */
.topping-stok {
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 12px;

    background-color: #ecfdf5;

    border-radius: 8px;

    margin-bottom: 10px;
}
.topping-stok strong {
    font-size: 20px;
}

/* =========================
   TOPPING AMAN
========================= */
.topping-status {
    color: #15803d;

    font-size: 13px;

    font-weight: bold;

    margin-bottom: 12px;
}

/* =========================
   TOPPING HAMPIR HABIS
========================= */
.topping-card.merah {
    background-color: #111827;

    border-color: #dc2626;
}
.topping-card.merah .topping-stok {
    background-color: #dc2626;

    color: white;
}
.topping-card.merah .topping-status {
    color: #dc2626;
}

/* =========================
   TOMBOL TOPPING
========================= */
.topping-tombol {
    display: flex;

    gap: 8px;
}
.topping-tombol button {
    flex: 1;

    border: none;

    padding: 9px;

    border-radius: 7px;

    cursor: pointer;

    font-weight: bold;
}
.topping-kurang {
    background-color: #fee2e2;

    color: #b91c1c;
}
.topping-tambah {
    background-color: #dcfce7;

    color: #166534;
}
@media (max-width: 700px) {

    .topping-container {
        grid-template-columns: 1fr;
    }

}

/* =========================
   MODAL
========================= */
.modal {
    display: none;

    position: fixed;

    inset: 0;

    z-index: 2000;

    background-color: rgba(0, 0, 0, 0.55);

    align-items: center;

    justify-content: center;

    padding: 20px;
}
.modal.aktif {
    display: flex;
}
.modal-content {
    background-color: white;

    width: 100%;

    max-width: 480px;

    border-radius: 15px;

    padding: 25px;
}
.modal-header {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 20px;
}
.btn-close {
    background: none;

    border: none;

    font-size: 28px;

    cursor: pointer;
}
#formMenu {
    display: flex;

    flex-direction: column;
}
#formMenu label {
    margin-top: 12px;

    margin-bottom: 7px;

    font-size: 14px;

    font-weight: bold;
}
#formMenu input {
    padding: 12px;

    border: 1px solid #ddd;

    border-radius: 8px;
}
.btn-simpan {
    margin-top: 20px;

    padding: 13px;

    background-color: #111827;

    color: white;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    font-weight: bold;
}

/* =========================
   FOOTER
========================= */
footer {
    background-color: #111827;

    color: white;

    text-align: center;

    padding: 40px;

    margin-top: 60px;
}
footer h3 {
    margin-bottom: 8px;
}
footer p {
    color: #9ca3af;

    font-size: 14px;
}
.copyright {
    margin-top: 15px;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 900px) {

    .menu-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .ringkasan {
        grid-template-columns: 1fr;
    }

    .topping-container {
        grid-template-columns: 1fr;
    }

    .intro h1 {
        font-size: 42px;
    }

}
@media (max-width: 700px) {

    .nav-menu {
        display: none;
    }

    .intro {
        min-height: auto;

        padding: 70px 7%;
    }

    .intro h1 {
        font-size: 35px;
    }

    .intro h2 {
        font-size: 17px;
    }

    .menu-container {
        grid-template-columns: 1fr;
    }

    .menu-header {
        flex-direction: column;

        align-items: stretch;

        gap: 15px;
    }

    .kanan-header {
        flex-direction: column;

        align-items: stretch;
    }

    .search-box {
        width: 100%;
    }

}